[Unit]
Description=frps daemon

[Service]
Type=simple
ExecStart=/usr/bin/frps -c /etc/frps/frps.ini
ExecStop=/usr/bin/killall frps

[Install]
WantedBy=multi-user.target