[Unit]
Description=GetPublicIP daemon

[Service]
Type=simple
ExecStart=/home/pi/GetpublicIP
ExecStop=/usr/bin/killall GetpublicIP
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target